<footer id="footer">
    <ul class="icons">
        {% if site.twitter %}
        <li><a href="{{ site.twiiter }}" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
        {% endif %}

        {% if site.facebook %}
        <li><a href="{{ site.facebook }}" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
        {% endif %}

        {% if site.googleplus %}
        <li><a href="{{ site.googleplus }}" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>
        {% endif %}

        {% if site.github %}
        <li><a href="{{ site.github }}" class="icon circle fa-github"><span class="label">Github</span></a></li>
        {% endif %}

        {% if site.email %}
        <li><a href="{{ site.email }}" class="icon circle fa-envelope"><span class="label">Email</span></a></li>
        {% endif %}
        <li><a href="harrisburgu.edu" class="icon circle fa-graduation-cap"><span class="label">Harrisburg University</span></a></li>
    </ul>

    <ul class="copyright">
        <li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
</footer>