{% if page.alt %}
<header id="header" class="alt">
{% else %}
<header id="header">
{% endif %}
    <h1 id="logo"><a href="/">{{ site.title }}</a></h1>
    <nav id="nav">
        <ul>
            <li class="current"><a href="{{site.baseurl}}/index.html">Home</a></li>
            <li class="submenu">
                <a href="#">Organizations</a>
                <ul>
                {% for post in site.posts %}
                    {% if post.categories contains "club" %}
                    <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
            </li>
            <li><a href="{{ site.baseurl }}/resources">Resources</a></li>
            <li><a href="{{ site.baseurl }}/calendar">Calendar</a></li>
        </ul>
    </nav>
</header>
