<header id="header" class="alt">
    <h1 id="logo"><a href="index.html">{{ site.title }}</span></a></h1>
    <nav id="nav">
        <ul>
            <li class="current"><a href="index.html">Home</a></li>
            <li class="submenu">
                <a href="#">Organizations</a>
                <ul>
                    <li><a href="">Maker Club</a></li>
                    <li><a href="">Asian Culture</a></li>
                    <li><a href="">Forensic</a></li>
                    <li><a href="">GIS</a></li>
                    <!--<li class="submenu">-->
                        <!--<a href="#">Submenu</a>-->
                        <!--<ul>-->
                            <!--<li><a href="#">Dolore Sed</a></li>-->
                            <!--<li><a href="#">Consequat</a></li>-->
                            <!--<li><a href="#">Lorem Magna</a></li>-->
                            <!--<li><a href="#">Sed Magna</a></li>-->
                            <!--<li><a href="#">Ipsum Nisl</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                </ul>
            </li>
            <li><a href="index.html">Resources</a></li>
        </ul>
    </nav>
</header>
