---
layout: default
---
<div class="row">
    <div class="md-col-12" style="background-image: url('{{ page.banner }}');">
        <h1>{{ page.title }}</h1>
        <p>{{ page.description }}</p>
    </div>
</div>

<div class="row">
    <div class="md-col-6">
        <div class="row"><h2>Officers</h2></div>
        {% for officer in page.officers %}
        <div class="md-col-3" style="background-image: url('{{ officer.picture }}');"></div>
            <div class="showInfo round">
                <h3>{{ officer.name }}</h3>
                <h4>{{ officer.role }}</h4>
                <!-- social stuff -->
            </div>
        {% endfor %}
    </div>
    <div class="md-col-6">
        <h2>What's up?</h2>
        <!-- Facebook stuff here -->
    </div>
</div>
