---
layout: default
---
<style type="text/css">
    #club-banner {
        color: white;
        text-shadow: 1px 1px 0 black;
        background-size: cover;
        background-position: center;
        background-image: url('{{ site.baseurl }}/images/{{ page.imageslug }}/banner.jpg');
        background-repeat: no-repeat;
        margin-bottom: 0;

    }
    .officer {
        text-align: center;
    }
    .officer img {
        border-radius: 50%;
    }
</style>

<header id="club-banner" class="special wrapper container">
    <h2>{{ page.title }}</h2>
    <p>{{ page.blurb }}</p>
</header>

<section class="wrapper container style4">
    <h2>Officers</h2>
    <div class="row">
        {% for officer in page.officers %}
        <div class="officer 4u">
            <h3>{{ officer.name }}</h3>
            <img src="{{ site.baseurl }}/images/{{ page.imageslug }}/{{ officer.name | slugify }}.jpg" alt="{{ officer.name }}">
            <h4>{{ officer.subtitle }}</h4>
            <!-- social stuff -->
        </div>
        {% endfor %}
    </div>
    <div class="md-col-6">
        <h2>What's up?</h2>
        <!-- Facebook stuff here -->
    </div>
</section>
